<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome <%= user ? user.email : "Guest" %></h1>

  <% if (user) { %>
    <p>You are logged in as <%= user.role %></p>
    <a href="/home">Go to Home</a> | <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/login">Login</a> | <a href="/register">Register</a>
  <% } %>
</body>
</html>
